html, * {
  box-sizing: border-box;
}

body, input {
  font: caption;
}

input, select {
  padding: 0 0.5em;
  border: 1px solid #2ea4f3;
  background-color: #d8e7f1;
  height: 30px;
}

select {
  width: 100%;
  border-radius: 0;
}

button, .button, input[type="submit"] {
  background-color: #2ea4f3;
  border: 1px solid #1b79b8;
  border-radius: 0;
  color: white;
  padding: 0.5em;
  transition: all 0.2s;
}

button:hover, .button:hover, input[type="submit"]:hover {
  background-color: #59bdff;
}

button:active, .button:active, input[type="submit"]:active {
  background-color: #0091f1;
}

button.full-width, .button.full-width, input[type="submit"].full-width {
  width: 100%;
  margin: 1em 0;
}

table {
  width: 100%;
}

td {
  text-align: center;
}
